.post-create {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-create-form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.post-create-input {
  display: flex;
  flex-direction: row;
  align-items: center;
}
