.post-card {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 75%;
  margin-top: 20px;
}

.post-card > img {
  max-width: 100%;
}

.post-card-user {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(52, 52, 52);
  border-bottom: 1px solid black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.post-card-username {
  margin-left: 10px;
}

.post-body-container {
  display: flex;
  flex-wrap: wrap;
  word-wrap: break-word;
  flex-direction: column;
  background-color: rgb(52, 52, 52);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.post-body {
  margin: 10px;
  max-width: 100%;
  flex-wrap: wrap;
  word-wrap: break-word;
}

.follow-button, .edit-post-button {
  margin-right: 10px;
}

.follow-button:hover, .edit-post-button:hover, .post-like-button:hover {
  cursor: pointer;
}

.post-likes-container {
  display: inline-flex;
  justify-content: space-between;
  flex-direction: row;
}

.post-likes, .post-like-button {
  margin: 10px
}
